body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
}

.caua{
    font-size: 35px;
    color: rgb(165, 165, 165);;
}

.tamanho{
    background-color: rgb(165, 165, 165);;
    height: 40px;
    width: 200px;
    border: 2px solid rgb(165, 165, 165);;
}

#pnts{
    color: rgb(165, 165, 165);;
    font-size: 25px;
}